################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Portal1 app/.vs/Portal1 app/FileContentIndex/6c1cf5ba-9542-4bce-bd08-348d52fa8228.vsidx
/Portal1 app/.vs/Portal1 app/FileContentIndex/b23877eb-ec3f-4d00-928a-66f3be3b41b8.vsidx
/Portal1 app/.vs/Portal1 app/FileContentIndex/f9a3c705-d74d-497f-89ea-19e39b71e18d.vsidx
/Portal1 app/.vs/Portal1 app/FileContentIndex/read.lock
